torch==2.2.1+cpu --index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pandas
numpy
yfinance
requests
newsapi-python
transformers
nltk
scikit-learn
Jinja2
python-multipart
beautifulsoup4
nsepy
vaderSentiment
googlesearch-python
lightning-fabric
talib-binary
scipy
arch
plotly
gunicorn
google-cloud-storage